---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../components/icons/BriefCase.astro";
import Code from "../components/icons/Code.astro";
import Project from "../components/Project.astro";
---

<Layout
  title="Portafolio de Ryuu"
  ,
  description="Hola! y bienvenido a mi portafolio digital, soy Jorge, programado y desarrollador web."
  ,
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-12 mb-4"
        src="https://media.licdn.com/dms/image/D4E03AQHfussPUdRG1g/profile-displayphoto-shrink_800_800/0/1681440861826?e=1718236800&v=beta&t=8hMqEnIlTTDOMWK0D_e40l-XKPJjuzLYebOx-1ltAJk"
        alt="jorge photo"
      />

      <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
        Hola, Soy Jorge!
        <a
          href="https://www.linkedin.com/in/jorgeobando1610/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajos</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
        <span class="text-yellow-200/90"
          >Desarrollador web, estudiante de Ingeniería de Sistemas.</span
        >
        Me especializo en la creación de sitios web con diferentes tecnologías que
        se acomodan a los diferentes retos.
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/jorgeobando1610/">
          <LinkedInIcon class="size-4 md:size-6" />LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/iamRyuu">
          <GitHubIcon class="size-4 md:size-6" />GitHub
        </SocialPill>
        <SocialPill href="https://github.com/iamRyuu">
          <MailIcon class="size-4 md:size-6" />jorge.obnd@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefCase class="size-8" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code class="size-8" />
        Proyectos
      </h2>
      <Project />
    </SectionContainer>
  </main>
</Layout>
