---
const personalImageAlt = "Jorge Obando";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Jorge Obando. Empecé en la programación con mi ingreso a la Universidad Nacional de Ingenería.<strong
        > Intersado por todo el mundo relacionado con los avances tecnológicos </strong
      >.
    </p>

    <p>
      Actualmente me encuentro en el ultimo año de mi carrera universitaria <strong
        >Ha sido todo un reto, pero esto me ha permitido adquirir experiencia como profesional y como persona</strong
      >. Ya que, me he formado con valores fundamentales para el desarrollo de una labor, como lo son, el trabajo en equipo, la escucha, proactividad, ayuda mutua, y el aprendizaje continuo
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="https://scontent.fmga3-1.fna.fbcdn.net/v/t39.30808-6/340075216_552511930329379_1334577949914787301_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=pLwq80c3caAQ7kNvgHT3q-0&_nc_ht=scontent.fmga3-1.fna&oh=00_AYDMMFMzZAdlcgQzfonEn8EPxLPQVlFY-vEuKqhIEj6oJw&oe=6644DA92"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
