---
const personalImageAlt = "Jorge Obando";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Jorge Obando y soy egresado de Ingeniería de Sistemas en la Universidad Nacional de Ingeniería. Mi pasión por la programación y la tecnología comenzó muchos años atrás,<strong
        >  lo que me ha impulsado a mantenerme siempre al día con los avances tecnológicos</strong
      >,
      y a buscar soluciones innovadoras a los retos actuales. 
    </p>

    <p>
      A lo largo de mi formación académica, he enfrentado desafíos que me han permitido crecer tanto profesional como personalmente.  <strong
        >He desarrollado habilidades clave como el trabajo en equipo, la comunicación efectiva, la proactividad y la capacidad de adaptarme rápidamente a nuevos entornos.</strong
      >. Además, valoro profundamente el aprendizaje continuo y el apoyo mutuo como pilares fundamentales para el éxito en cualquier proyecto.
    </p>

    <p>
      Estoy entusiasmado por aplicar mis conocimientos y habilidades en proyectos que impulsen el desarrollo tecnológico, y <strong>me encuentro en constante búsqueda de oportunidades para seguir aprendiendo y contribuyendo al crecimiento de las organizaciones</strong> con las que colabore.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/fb_ProfilePhoto.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
    loading="lazy"
  />
</article>
