---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIE = [
  {
    date: "Noviembre 2024",
    title: "Web Developer | Freelance",
    company: "Insignia Financial Group",
    description:
      "Durante mi labor, fui resposable del desarrollo, mantenimiento y rediseño de planillas web, que se adaptaban a las necesidades de los clientes. También me dediqué a la creación de nuevas páginas y funcionalidades para mejorar la experiencia del usuario.",
    link: "",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
