---
const PROJECTS = [
  {
    title: "Project 1",
    description:
      "Esta pagina se la copie al midu, nomas es de practica y lo estoy cargando",
    link: "#",
    github: "#",
    image: "/projects/450shots_so.webp",
    tags: ["HTML", "CSS", "JavaScript"],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul>
        {tags.map((tag) => (
          <li>{tag}</li>
        ))}
      </ul>
      <img 
        class="rounded shadow-2xl shadow-white/10" 
        src={image} 
        alt={"ScreenShot del proyecto"} />
    </article>
  ))
}
